/* Estilos para deixar a página mais agradável */
body {
    font-family: Arial, sans-serif;
    background-color: #4f468165; /* Cor de fundo suave */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff; /* Fundo branco */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

h1 {
    text-align: center;
    color: #333; /* Cor do texto mais escura */
}

/* Botão "Adicionar Despesa" */
button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

/* Tabela de Despesas */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Cores de saldo condicionais */
#balance {
    font-size: 1.2em;
    font-weight: bold;
}

#balance.green {
    color: green;
}

#balance.red {
    color: red;
}

th:nth-child(4), td:nth-child(4) {
    text-align: center;
     }

     #expense-list table {
        width: 100%;
    }
    
    #expense-list table th:nth-child(1),
    #expense-list table td:nth-child(1) {
        width: 40%; /* Defina a largura desejada */
    }

